<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div align="center">
        <form action="/mentor/confirm" method="post" th:object="${mentor}">
            <!-- action="/mentor/confirm" method="post", html page girdiğimiz valulardan sonra register tıkladığımızda bu request mapping'e gitmesini valueları post etmesini istiyoruz-->
            <!-- ${mentor} bu şu anlama gelmekte: bu formdaki her fiedls, mentor objecte assign edilecek-->
            <!-- Eğer th:object yapıyorsak, oluşturduğumuz this form works only one object (örneğimizde mentor objecti) -->

            <label>First Name</label>
            <input type="text" id="firstName" th:field="*{firstName}"><br>
            <!-- *{firstName} ile mentor.firstName işlevini yapmış oluyoruz. Line 10 da mentor objectin fieldlarına ulaşmak için-->

            <label>Last Name</label>
            <input type="text" id="lastName" th:field="*{lastName}"><br>

            <label>Email</label>
            <input type="text" id="email" th:field="*{email}"><br>

            <label>Graduated</label>
            <input type="checkbox" th:field="*{graduated}"><br>

            <label>Gender:</label>
            <input type="radio" value="Male" th:field="*{gender}">Male
            <input type="radio" value="FeMale" th:field="*{gender}">Female<br>

            <label>Batch Number</label>
            <select th:field="*{batch}">
                <option th:each="theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
                <!-- th:value : keep the value in batch field, it binds data-->
            </select><br>

            <label>Company</label>
            <textarea th:field="*{company}"></textarea><br>

            <button type="submit">Register</button>

        </form>
    </div>
</body>
</html>