<!DOCTYPE html>           <!-- represent Html 5 version-->
<html lang="en">

<head>                     <!-- Container for metadata (is not displayed), Title, Styles, Link, Script, Meta and other -->
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>

    Welcome to Java Spring Developer Course!!!

    <h1>Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>

    <h1 align="center" style="color: blue">Spring Framework</h1>

    <img src="springboot.png" alt="Spring Boot Image">    <!-- provide to create an image-->

    <ul>                    <!-- provide to make list-->
        <li>MVC</li>
        <li>ORM</li>
        <li>API</li>
    </ul>

    <a href="https://www.amazon.com">Amazon</a>   <!-- provide to put a link -->

    <table>                                       <!-- provide to create a table -->
        <tr>
            <td>Loop</td>
            <td>Collection</td>
            <td>Stream</td>
        </tr>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Value</td>
        </tr>
    </table>

    <!--Forms-->
    <label>Username</label>                         <!-- provide to create input box-->
    <input type="text" name="username"><br>
    <label>Password:</label>
    <input type="password"><br>
    <label>Enter your comments:</label>
    <textarea name="comments"></textarea><br>

    <label>Please select your fav subject</label><br>                    <!-- provide to create radio button-->
    <input type="radio" name="Spring" value="IoC" checked="checked">IoC
    <input type="radio" name="Spring" value="DI">DI
    <input type="radio" name="Spring" value="MVC">MVC
    <br>

    <label>Please select your company</label><br>                          <!-- provide to create checkbox-->
    <input type="checkbox" name="company" value="Bank of America">BOA
    <input type="checkbox" name="company" value="SouthWest Airlines">SWE
    <input type="checkbox" name="company" value="Limited">LTD
    <br>

    <label>Select your car</label><br>            <!-- provide to create dropdown list-->
    <select name="cars">
        <option value="honda">Honda</option>
        <option value="nissan">Nissan</option>
        <option value="bmw">BMW</option>
    </select>
    <br>

    <form action="#" method="get">
        First name:<input type="text" name="first_name"/>
        <br>
        Last name:<input type="text" name="last_name"/>
    </form>

    <div>                                        <!-- provide to make grouping-->
        <h3>This is Java Developer Course</h3>
        <ul>
            <li>Spring Framework</li>
            <li>Security</li>
            <li>Unit Testing</li>
        </ul>
    </div>



</body>

</html>